.jumbotron{
    background-color: #9f9f60;
    color: black;
    margin-top: 40px;

}


footer{
    padding: 10px 10px 0 10px;
    background-color: #9f9f60;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
     margin-top: 20px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;;
}
.tab-content{
    padding-top: 10px;
}
